@import 'variable';

h2 {
    color: $color;
}
.card-course-item {
    margin: 16px;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}