<div class="m-4">
    <h2>Dang khoa hoc</h2>

    <form class="mt-4" method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Name course</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoid">VideoId</label>
            <input type="text" class="form-control" id="videoid" name="videoid">
        </div>
        <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
</div>