<div class="mt-4">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            {{#each courses}}
                <div class="card card-course-item">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <a href="#" class="btn btn-primary">Buy Course</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>